.abilityViewer .abilityViewerHeader {
    color: white;
    text-align: center;
    font-weight: bold;
}

.abilityViewer .abilityViewerHeader.startOfTurn {
    background-color: black;
}

.abilityViewer .abilityViewerHeader.heroPhase {
    background-color: rgb(118, 96, 43);
}

.abilityViewer .abilityViewerHeader.movementPhase {
    background-color: rgb(96, 99, 98);
}

.abilityViewer .abilityViewerHeader.shootingPhase {
    background-color: rgb(40, 67, 92);
}

.abilityViewer .abilityViewerHeader.chargePhase {
    background-color: rgb(163, 77, 20);
}

.abilityViewer .abilityViewerHeader.combatPhase {
    background-color: rgb(128, 32, 34);
}

.abilityViewer .abilityViewerHeader.defensive {
    background-color: rgb(61, 91, 38);
}

.abilityViewer .abilityViewerHeader.endOfTurn {
    background-color: rgb(94, 74, 121);
}